mat-card {
  width: 100%;
  min-width: 450px;
  max-width: 800px;
  margin: 20px auto 0 auto;
}

.userLists .mat-list-item {
  height: auto;
}

.mat-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-divider {
  top: 0;
  bottom: auto;
  height: fit-content;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.singleList {
  width: 100%;
}

.singleListEdit {
  width: 100%;
}
