<mat-toolbar color="primary">
  <span>ShoppingListsApp</span>
  <span class="spacer"></span>

  <button mat-button *ngIf="isLoggedIn" routerLink="user-lists">{{ 'navigation.user_lists' | translate}}</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()">{{ 'navigation.logout' | translate}}</button>

  <button mat-button *ngIf="!isLoggedIn" routerLink="login">{{ 'navigation.login' | translate}}</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="register">{{ 'navigation.register' | translate}}</button>

</mat-toolbar>

<ng-content></ng-content>

<div class="content">
  <router-outlet></router-outlet>
</div>
