<mat-card>
  <h4>{{'item_managing.add_new_item' | translate}}</h4>
  <div class="add_item">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="clearForm(formDirective)">
    <div class="add_item_product_row">
      <mat-form-field id="newItem">
        <mat-label>{{'item_managing.item_name' | translate}}</mat-label>
        <input matInput type="text"
               formControlName="text"
               placeholder="{{'item_managing.write_or_select' | translate}}"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{"commonProducts." + option | translate}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field id="num">
        <input matInput type="number"
               formControlName="quantity"
               placeholder="{{'item_managing.item_num' | translate}}">
      </mat-form-field>

      <mat-form-field id="unit">
        <mat-select formControlName="unit" placeholder="{{'item_managing.item_unit' | translate}}">
          <mat-option *ngFor="let unit of unitTypes" [value]="unit">{{'units.' + unit | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="add_item_image_row">
      <mat-form-field id="image">
        <input matInput formControlName="image" placeholder="{{'item_managing.add_image' | translate}}" readonly/>
        <input type="file" id="fileInput" name="fileInput" accept="image/*"
               (change)="selectFiles($event)"
        />
      </mat-form-field>

      <img mat-card-image class="preview" [src]="photoPreview" [hidden]="photoPreview === undefined ">

      <button  type="button" mat-raised-button color="primary"
               [hidden]="selectedFile === undefined"
               (click)="deletePicture()">{{'item_managing.delete_image' | translate}}
      </button>
    </div>

    <div class="add_buttons">
      <button mat-raised-button color="primary"
              [disabled]="form.invalid"
              (click)="addItem()">
        {{'item_managing.add_item' | translate}}</button>
      <button mat-raised-button color="primary" (click)="clearForm(formDirective)">
        {{'item_managing.cancel' | translate}}</button>
    </div>
  </form>
  </div>
</mat-card>
