<mat-card class="example-card mat-elevation-z8">
  <mat-card-content>
    <form *ngIf="!isLoggedIn" [formGroup]="form">
      <h2>{{ 'register.register_title' | translate }}</h2>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>{{ 'login.username' | translate }}</mat-label>
        <input matInput formControlName="username" required>
                    <mat-error *ngIf="form.controls['username'].hasError('required')">
                      {{ 'register.username_error' | translate}}
                    </mat-error>
                    <mat-error *ngIf="form.controls['username'].hasError('minlength') || form.controls['username'].hasError('maxlength') ">
                      {{ 'register.username_length_error' | translate}}
                    </mat-error>
                    <mat-errror>
                      {{}}
                    </mat-errror>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>{{ 'register.password' | translate }}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="form.controls['password'].hasError('required')">
                        {{ 'register.password_error' | translate}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['password'].hasError('minlength') ||
                      form.controls['password'].hasError('maxlength') ">
                        {{ 'register.password_length_error' | translate}}
                      </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>{{ 'register.password_repeat' | translate }}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordRepeat" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
                 <mat-error *ngIf="form.hasError('matching')">
                  {{'register.password_equal_error' | translate}}
                </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">
        <mat-icon>login</mat-icon>
        <span class="login-button">{{ 'register.register_button' | translate }}</span></button>
    </form>
  </mat-card-content>
</mat-card>
