<mat-card *ngIf="items.length > 0">
  <h2>{{'item_managing.shopping_list' | translate}}</h2>
  <mat-list class="shoppingList">
    <mat-list-item *ngFor="let item of items;let i = index">
      <mat-divider *ngIf="i != 0"></mat-divider>

      <div *ngIf="!item.isBeingEditing; then content else edit_content">here is ignored</div>

      <ng-template #content>
        <app-list-item [item]="item" [index]="i+1" (removeItem)="removeItem(item)" class='itemSimple'></app-list-item>
      </ng-template>

      <ng-template #edit_content>
        <app-edit-list-item [item]="item" [index]="i"  class="itemSimplEdit"></app-edit-list-item>
      </ng-template>

    </mat-list-item>
  </mat-list>
</mat-card>

<app-add-list-item [listId]="listId" (refreshItems)="refreshItems()"></app-add-list-item>
