<mat-card *ngIf="items.length > 0">
  <h2> Lista zakupów</h2>
  <mat-list>
    <mat-list-item *ngFor="let item of items;let i = index">
      <mat-divider *ngIf="i != 0"></mat-divider>

      <div *ngIf="!item.isBeingEditing; then content else edit_content">here is ignored</div>

      <ng-template #content>
        <mat-checkbox (change)="toggle(item)" [checked] ="item.done" color="primary">
          <span [ngClass]="{done:item.done}">{{i}}. {{item.text}}    ({{item.num}} {{item.unit}})</span>
        </mat-checkbox>
        <button  matTooltip="Edit item" matTooltipPosition="above" mat-icon-button (click)="doEditable(item)">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button  matTooltip="Delete item" matTooltipPosition="above" mat-icon-button (click)="removeItem(item)">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </ng-template>

      <ng-template #edit_content>
        <div class="add_item">
          <mat-form-field id="editItem" >
            <input matInput placeholder="Edit item" [value]="item.text" #newItem >
          </mat-form-field>
          <mat-form-field id="num">
            <input matInput placeholder="Value" [value]="item.num" #num >
          </mat-form-field>

          <mat-form-field id="unit">
            <mat-select placeholder="Unit" [value]="item.unit" #editedUnit>
              <mat-option *ngFor="let unit of unitTypes" [value]="unit">{{unit}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button [disabled]="newItem.value == ''" mat-raised-button color="primary" (click)="editItem(item ,newItem.value, num.value, editedUnit.value); newItem.value = ''; num.value= '1'">Edytuj</button>
          <button mat-raised-button color="primary" (click)=" item.isBeingEditing = false">Anuluj</button>
        </div>
      </ng-template>

<!--      <mat-checkbox (change)="toggle(item)" [checked] ="item.done" color="primary">-->
<!--        <span [ngClass]="{done:item.done}">{{i}}. {{item.text}}    ({{item.num}} {{item.unit}})</span>-->
<!--      </mat-checkbox>-->
<!--      <button  matTooltip="Delete item" matTooltipPosition="above" mat-icon-button (click)="removeItem(item)">-->
<!--        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>-->
<!--      </button>-->

    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <h4> Dodaj nowy produkt</h4>
  <div class="add_item">
  <mat-form-field id="newItem">
    <input matInput placeholder="Add new item" #newItem >
  </mat-form-field>
  <mat-form-field id="num">
    <input matInput placeholder="Value" #num value="1">
  </mat-form-field>

    <mat-form-field id="unit">
      <mat-select placeholder="Unit" [(ngModel)]="selectedUnit">
        <mat-option *ngFor="let unit of unitTypes" [value]="unit">{{unit}}</mat-option>
      </mat-select>
    </mat-form-field>

  <button [disabled]="newItem.value == ''" mat-raised-button color="primary" (click)="addItem(newItem.value, num.value, selectedUnit); newItem.value = ''; num.value= '1'">Dodaj</button>
  </div>
</mat-card>
