<mat-card>
  <h4>{{'user_lists.add_new_list' | translate}}</h4>
  <div class="addList">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm(formDirective)">
      <div class="addListRow">
        <mat-form-field id="name">
          <input matInput formControlName="name" required placeholder="{{'user_lists.name' | translate}}" #name>
        </mat-form-field>

        <mat-form-field appearance="fill" id="date">
          <mat-label>{{'user_lists.date'| translate}}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" required>
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="add_buttons">
        <button class="add_button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="addList()">
          {{'user_lists.add' | translate}}</button>
        <button class="cancel_button" mat-raised-button color="primary" (click)="cancel(formDirective)">
          {{'user_lists.cancel' | translate}}</button>
      </div>
    </form>
  </div>
</mat-card>
